body {
    background-color: #f5e1e1; 
    font-family: Arial, sans-serif;
}

h3 {
    color: #ff69b4; 
}

form {
    background-color: #fff; 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

fieldset {
    border: none;
    padding: 0;
}

label {
    color: #ff69b4; 
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #add8e6;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff1493; 
}

.err {
    color: #ff0000; 
}
.final_table {
    font-family: "Garamond", "Palatino", serif;
    font-weight: bold;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    background: #fdf3f3; 
    border: 2px solid #87ceeb; 
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* ширина таблицы */
}

th {
    font-size: 22px;
    font-weight: 300;
    padding: 12px 10px;
    border-bottom: 2px solid #87ceeb;
    color: #ff69b4; 
}

td {
    padding: 10px;
    color: #111c16;
}

select {
    height: 30px;
    width: 200px;
}